# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Virtual environments
venv/
env/
ENV/
.venv/
# Add your virtual environment folder names if they're different

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Python-specific configuration
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Test output
nosetests.xml
coverage.xml
*.cover
*.hypothesis/
.pytest_cache/
cover/

# MyPy
.mypy_cache/

# Pyre type checker
.pyre/

# VS Code settings
.vscode/
